@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}


.nav-sidebar .nav-treeviews {
	display:block;
	list-style: none;
    padding: 0;
}

.margbtm{
		margin-bottom:25px;
}

.posRel{ position:relative; }

.auto_itm{ padding:10px; border:1px solid #000;   cursor:pointer; }
.auto_itm:hover{ background:gray; color:#fff; }
.attr_cont{ padding:15px; border:1px solid #333; margin-bottom:20px; }

.invalid-feedback{ display:block!important; }


/********************************/
/********************************/



div.carts {
    padding: 10px;
    background: #fffdfd;
    border: 1px solid #d9d5d5;
    box-shadow: #00000059 0 5px 15px;
}



.prodItmOut{      margin-bottom: 20px; }


.prodContList{
	padding: 10px;
    margin: 0 5px 5px;
    background: #fffdfd;
    border: 1px solid #d9d5d5;
    box-shadow: #00000059 0 5px 15px;
}

.prodContList .contDiv .btn {
    background: #333;
    color: #fff;
    padding: 5px;
    float: right;
}